@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>@ViewBag.Title</h1>
<p>Witamy na stornie glownej</p>
<p>
    Artykuly:
    <ul>
        <li><a asp-controller="article" aso-action="index">Artykul 1</a></li>
    </ul>
</p>