@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<h1>@ViewBag.Title</h1>
<p>Witamy na stronie głównej</p>
<p>
    Artykuły:
    <ul>
        <li><a asp-controller="ArticleController" asp-action="Index">Artykuł 1</a></li>
    </ul>
</p>