@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>@ViewBag.Title</h1>
<p>Witam na stronie glownej</p>
<p>
    Artykuly:
    <ul>
        <li><a asp-controller="article" asp-asction="index">Artykul 1</a></li>
    </ul>
</p>